@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Righteous&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;

  background: url("misty-forest-background1595620320482968.jpg") no-repeat
    center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outbox {
  position: relative;
}
.box {
  position: relative;
  width: 400px;
  height: 400px;
  backdrop-filter: blur(10px);
  border-radius: 60%;
  border: 1px solid rgb(143, 224, 245);
  box-shadow: 0 10px 40px rgb(143, 224, 245);
}
.clock {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: radial-gradient(transparent, rgba(147, 204, 241, 0.06)),
    url("clockimg.png");
  border: 1px solid rgb(143, 224, 245);
  border-radius: 60%;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  box-shadow: 0 10px 40px rgb(143, 224, 245);
}
.clock::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(10, 28, 129);
  border-radius: 50%;
  z-index: 1000;
}
.hour,
.second,
.minute {
  position: absolute;
}
.minute,
.min {
  width: 230px;
  height: 230px;
}
.hour,
.hr {
  width: 150px;
  height: 150px;
}
.second,
.sec {
  width: 190px;
  height: 190px;
}

.hr,
.sec,
.min {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.hr::after {
  content: "";
  position: absolute;
  background: #da1212;
  width: 10px;
  height: 80px;
  border-radius: 5px;
}
.min::after {
  content: "";
  position: absolute;
  background: #eeeeee;
  width: 6px;
  height: 120px;
  border-radius: 5px;
  z-index: 12;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.sec::after {
  content: "";
  position: absolute;
  background: #eeeeee;
  width: 3px;
  height: 160px;
  border-radius: 5px;
}
.Day {
  backdrop-filter: blur(25px);
  border-radius: 40px;
  width: 400px;
  height: 100px;
  margin-top: 40px;
  text-align: center;
  font-family: "Righteous", cursive;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.audio {
  display: hidden;
}
